<form action="<%= submitPath %>?_csrf=<%= locals.csrfToken%>" method="POST" enctype="multipart/form-data">
  <!-- As this form has a file input, it should be set to entype= multipart and the csrf should be given with the path to the action -->
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title" value="<%= product.title %>" required>
  </p>

  <div id="image-upload-control">
    <p>
      <label for="image">Image</label>
      <input type="file" name="image" id="image" accept="image/png,image/jpeg" <% if(imageRequired) { %>required<% } %>>
    </p>
    
    <img src="" alt="Selected image">
  </div>

  <p>
    <label for="summary">Summary</label>
    <input type="text" name="summary" id="summary" value="<%= product.summary %>" required maxlength="250">
  </p>

  <p>
    <label for="price">Price</label>
    <input type="number" name="price" value="<%= product.price %>" id="price" min="0.01" step="0.01" required>
  </p>

  <p>
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="7" required><%= product.description %></textarea>
  </p>

  <p>
    <button type="reset" class="btn btn-alt">Reset</button>
    <button type="submit" class="btn">Submit</button>
  </p>
</form>