<article class="product-item">
  <img src="<%= product.imageUrl %>" alt="<%= product.title %> ">
  <div class="product-item-content">
    <h2><%= product.title %></h2>
    <div class="product-item-action">
      <% if(locals.isAdmin) { %>
        <a href="/admin/products/<%= product.id %>" class="btn btn-alt">View & Edit</a>
        <button class="btn btn-alt" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Delete</button>
      <% } else { %>
        <a class="btn btn-alt" href="/product/<%= product.id %>">View Details</a>
      <% } %>
    </div>
  </div>
</article>